* {
    font-family: 'Roboto', sans-serif;
}


header {
    background-color: #DF4A2A;
    margin-bottom: 10px;
    border: 2px solid black;
}

nav {
    margin: auto;
}

#headerText {
    text-align:center;
    margin: 10px 10px 2px 10px;
    font-size:50px; 
}

ul {
    text-align:center;
}
ul li{
    display: inline-block; 
    padding:10px;
    font-size:20px;
    color: black;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: lightgrey;
}

.body {
    background-color:rgb(252, 239, 239);
    width:60%;
    height: 1000px;
    margin:auto;
    border: 2px solid black;
}

.left-container {
    float: left;
    width: 55%;
    margin: 2.5%;
    line-height: 1.6;
    text-align:justify;
}

.right-container {
    float: right;
    width: 35%;
    display:block;
    margin: 2.5% auto;
}

.right-container > img{
    text-align:center;
    max-height: 80%;
    max-width: 80%;
}

footer {
    background-color:#DF4A2A;
    text-align:center;
    border: 2px solid black;
    margin-top: 10px;
}

table {
    width: 60%;
    border: 2px solid black;
    text-align: center;
    margin: 10px auto;
}

h2 {
    text-align:center;
}
form {
    margin: 10px auto;
    width: 500px;
    border: 1px dotted black;
    padding: 5px;
}

#contactTable {
    width: 90%;
}

iframe {
    margin: 10px auto;
    width: 100%;
}
